<p>
  <label for="settings_field-to-link">Setting field to link with spent & estimated time.</label>
  <%= select_tag "settings[status-#field-to-link]",
                 options_from_collection_for_select(
                     IssueCustomField.all,
                     :id, :name, @settings["status-#field-to-link"]
                 ) %>
</p>

